@import "~bootstrap/scss/bootstrap";
@import "react-widgets/scss/styles.scss";

#root {
  min-height: 100vh;
  background: url("https://source.unsplash.com/1920x1080/?nature, water")
}

.parameter-label {
  text-align: center;
  font-family: Verdana;
  font-size: small;
  font-weight: bold;
}
